Garden/TypeScriptHTMLApp1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Garden/TypeScriptHTMLApp1/obj/Debug/VirtualGarden.dll
Garden/TypeScriptHTMLApp1/obj/Debug/VirtualGarden.pdb
Garden/TypeScriptHTMLApp1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Garden/TypeScriptHTMLApp1/obj/Debug/VirtualGarden.dll
Garden/TypeScriptHTMLApp1/obj/Debug/VirtualGarden.pdb
Garden/Garden.v11.suo
Garden/TypeScriptHTMLApp1/bin/VirtualGarden.dll
Garden/TypeScriptHTMLApp1/bin/VirtualGarden.pdb
Garden/TypeScriptHTMLApp1/obj/Debug/VirtualGarden.csproj.FileListAbsolute.txt
Garden/TypeScriptHTMLApp1/obj/Debug/VirtualGarden.csprojResolveAssemblyReference.cache
Garden/TypeScriptHTMLApp1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Garden/TypeScriptHTMLApp1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
